language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install pytest
  - pip install codecov
  - pip install pytest-cov
script: 
  - pytest --cov=src #--doctest-modules 
after_success:
  - codecov
